.container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    }

.box {
    width: 300px;
    height: 435px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    }

    .existing_user{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 300px;
        height: 30px;
        text-align: center;
        background-color: rgb(255, 86, 86);
        font-weight: bold;
        border-radius: 5px;
    }
    
    .registration_status{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 300px;
        height: 30px;
        text-align: center;
        background-color: rgb(82, 190, 204);
        font-weight: bold;
        border-radius: 5px;
    }


.alerts{
    margin-left: auto;
    margin-right: auto;

}

body{
    margin: 0px;
}
.txtlg , .txt , .txt-2{
    text-align: center;
}


a{
    text-decoration: none;
}

.user, .senha, .fone, .nome{
    text-align: center;
    padding: 5px;
}

button{
    border: 0;
	padding: 10px;
	outline: 0;
	background-color: rgb(70, 95, 117);
	color:  white;
	border-radius: 5px;
	font-weight: bold;
    width: 240px;
    text-align: center;
    margin-top: 10px;
}

.bt{
    text-align: center;
}

input[type="text"] , input[type="password"] , input[type="tel"]{
    width: 230px;
    height: 25px;
}

button:hover{
    background-color: rgb(63, 55, 110);
}